@import url("https://fonts.googleapis.com/css?family=Abel");
$main-color: #f5f5f5;
$point-color: #1c1e3b;


body,
.header,
.main,
.root,
h1,
h2,
div,
img,
ul,
button,
input,
a, form {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
body {
  line-height: 1;
  &.loading::after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #fff, $alpha: 0.5);
    content: "Loading";
    font-size: 300%;
  }
}
ol,
ul {
  list-style: none;
}

html,
body {
  // border: 1px solid red;
  height: 100%;
  font-family: "Abel", sans-serif;
  background-color: $main-color;
}
.main {
  height: inherit;
}

button {
  background-color: $point-color;
  color: white;
  border: 1px solid $point-color;
  padding: 1% 2%;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
  width: fit-content;
}
button:hover {
  background-color: white;
  color: $point-color;
}

button:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
  color: #aac3ea;
}

.header {
  width: 100%;
  height: 10%;
  font: inherit;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  background-color: #fff;
  // border: 1px solid orange;
  box-sizing: border-box;
}
.title-form{

  .shopping-mall-title {
    text-transform: uppercase;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  }
}

.root {
  width: 100%;
  min-height: 80%;
  padding: 0;
  background-color: $main-color;
  box-sizing: border-box;
}

.login-form,
.my-page-form {
  // border: 1px solid red;
  width: 50%;
  height: fit-content;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  white-space: nowrap;
  input[type="text"],
  input[type="password"] {
    border: 1px solid $point-color;
    width: 150px;
    padding: 1% 2%;
    margin: 0 1%;
    padding-left: 5px;
    box-sizing: border-box;
  }
}
.hello {
  font-weight: bold;
  margin: 0 10px;
  color: $point-color;
}
.login-button,
.register-button,
.logout,
.go-to-cart,
.ordered-list {
  margin: 0 1%;
}

.user-register-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 120%;
  margin: 20vh auto;
  width: 20%;
  text-transform: uppercase;
  input,
  button {
    height: 5vh;
    border: 1px solid $point-color;
    box-sizing: border-box;
    padding-left: 5px;
    width: 100%;
  }
}

.register-success-form {
  text-align: center;
  margin: 0 auto;
  font-size: 200%;
  line-height: 10vh;
  margin: 20vh auto;
  .welcome {
    text-align: center;
    font-size: 300%;
  }
  button {
    border: 1px solid $point-color;
  }
}

.category {
  // border: 1px solid skyblue;
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-transform: uppercase;
  margin: 10vh auto;
  li {
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 1.3rem;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.2s;
  }
}

.category,
.product-list-form {
  width: 85%;
}
.product-list-form {
  margin: 0 auto;
  margin-bottom: 5%;
  .product-list {
    // border: 1px solid pink;
    box-sizing: content-box;
  }
}

.product-form {
  position: relative;
  // border: 1px solid #ccc;
  width: 20%;
  margin: 2% 2% 1%;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  transition: all ease-in 1s;
  .image {
    width: 100%;
  }

  .cover {
    background-color: rgba(245, 245, 245, 0);
    color: rgba(6, 6, 6, 0);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 40%;
    transition: all 0.2s;
    font-size: 1.4rem;
  }
}


.product-detail {
  width: 80%;
  margin: 12vh auto;
  // border: 1px solid purple;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 110%;
  .product-option-form {
    display: flex;
    flex-direction: column;
    // border: 1px solid orange;
    // margin-top: 5vh;
    margin: 3% 0;
  }
  button {
    padding: 10px;
    font-size: 100%;
  }
  .detail-info {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 5vh 0;
    box-sizing: border-box;
    // margin: 10%;

    .title {
      font-size: 2.5rem;
    }
    label{
      font-size: 1.5rem;
      // border: 1px solid black;
      display: flex;
      justify-content: space-between;
    }
    select, input{
      font-size: 1rem;
        border: 1px solid $point-color;
        width: 60%;
        padding: 5px;
    }
    button{
      width: 100%;
    }
    .description{
      // border: 1px solid green;
      font-size: 1.2rem;
      margin-top: 5vh;
    }
  }
  .detail-image {
    width: 40%;
    height: 100%;
    // border: 1px solid orange;
    margin-right: 3%;
  }
}


.cart-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #000;
  font-size: 1.2rem;
  .image {
    width: 20%;
    padding: 5px;
  }
  .quantity{

    font-size: 1.2rem;
    text-align: center;
  }
  input[type="checkbox"]{
      transform: scale(2);
  }
}

.ordered-form,
.cart-form {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5vh;

}
.cart-form-title,
.ordered-form-title {
  margin: 5vh 0;
  font-size: 300%;
}
.ordered-form-ul {
  list-style: none;
}
.ordered-form-item {
  padding: 5vh 0;
  border-top: 1px solid #000;
  font-weight: bold;
  font-size: 1.2rem;
  .ordered-form-item-ul {
    font-weight: normal;
    list-style: none;
    margin-top: 2%;
  }
}

.total-price{
  margin: 1%;
}

.ordered-item-detail {
  margin: 0 auto;
  border-top: 1px solid #666;
  // border-bottom: 1px solid #333;
  margin-bottom: 1%;
  width: 50%;
  .title {
    display: border;
    font-size: 100%;
  }

  .detail {
    display: flex;
    justify-content: space-around;
    line-height: 80px;
  }
  .image {
    // border: 1px solid green;
    width: 80px;
    height: 100%;
  }
}

.footer {
  height: 10%;
  background-color: #000;
  color: #ccc;
  text-align: center;
  border-top: 5px solid #000;
}

// LET THE LOADING BEGIN
.loading-screen {
  display: flex;
  justify-content: center;
  flex-flow: nowrap row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}
.loading__element {
  // font: normal 100 2rem/1 Roboto;
  font-family: inherit;
  font-size: 200%;
  letter-spacing: 0.5em;
}
[class*="zz"] {
  animation: bouncing 2s infinite ease;
}

@for $i from 1 through 9 {
  $delay: percentage($i);
  .zz#{$i} {
    animation-delay: $delay / 1000% + s;
  }
}

@keyframes bouncing {
  0%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(0, 0, 1);
  }
}


@media ( max-width: 768px ) {
  .header{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
    padding: 3%;
    span{
      display: block;
      padding: 3%;
    }
  }
  .login-form,
  .my-page-form {
    display: block;
    white-space: normal;
    padding: 3%;
  }
  .product-form{
    width: 40%;
  }
  .product-detail{
    flex-direction: column;
    .detail-info, .detail-image{
      width: 100%;
    }
  }
  .category{
    display: block;
    text-align: center;
    li{
      padding: 3%;
    }
  }
  .cart-item{
    display: block;
    width: 90%;
    .title{
      margin: 3%;
      display: block;
      width: 100%;
    }
  }
  .ordered-form,
  .cart-form, .ordered-item-detail {
    width: 90%;
  }
}

