@import url("https://fonts.googleapis.com/css?family=Abel");
$main-color: #f5f5f5;
$point-color: #1c1e3b;

// 초기화
body, h1, h2, div, img, ul, button, input, a, form,
.header, .main, .root {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
ol, ul {
  list-style: none;
}

// 태그 공통 속성
button {
  background-color: $point-color;
  color: white;
  border: 1px solid $point-color;
  padding: 1% 2%;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
  width: fit-content;
}
button:hover {
  background-color: white;
  color: $point-color;
}
button:active {
  outline: none;
}
a, a:visited {
  text-decoration: none;
  color: #aac3ea;
}

html, body {
  height: 100%;
  font-family: "Abel", sans-serif;
  background-color: $main-color;
}

body {
  line-height: 1;
  &.loading::after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #fff, $alpha: 0.5);
    content: "Loading";
    font-size: 300%;
  }
}

// 전체 컨테이너
.main {
  height: inherit;
}

// 헤더
.header {
  width: 100%;
  height: 10%;
  font: inherit;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  background-color: #fff;
  box-sizing: border-box;
}

// 타이틀
.title-form {
  .shopping-mall-title {
    text-transform: uppercase;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
  }
}

// 로그인, 마이페이지
.login-form, .my-page-form {
  width: 50%;
  height: fit-content;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  white-space: nowrap;
  input[type="text"],
  input[type="password"] {
    border: 1px solid $point-color;
    width: 150px;
    padding: 1% 2%;
    margin: 0 1%;
    box-sizing: border-box;
  }
  .hello {
    font-weight: bold;
    margin: 0 10px;
    color: $point-color;
  }
  .login-button,
  .register-button,
  .logout,
  .go-to-cart,
  .ordered-list {
    margin: 0 1%;
  }
}

// 회원가입
.user-register-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 120%;
  margin: 20vh auto;
  width: 20%;
  text-transform: uppercase;
  input,
  button {
    height: 5vh;
    border: 1px solid $point-color;
    box-sizing: border-box;
    padding-left: 5px;
    width: 100%;
  }
}

// 회원가입 성공
.register-success-form {
  text-align: center;
  margin: 0 auto;
  font-size: 200%;
  line-height: 10vh;
  margin: 20vh auto;
  .welcome {
    text-align: center;
    font-size: 300%;
  }
  button {
    border: 1px solid $point-color;
  }
}

// 본문
.root {
  width: 100%;
  min-height: 80%;
  padding: 0;
  background-color: $main-color;
  box-sizing: border-box;
}
.category,
.product-list-form {
  width: 85%;
}
// 카테고리
.category {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-transform: uppercase;
  margin: 10vh auto;
  li {
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 1.3rem;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.2s;
  }
}
// 페이지네이션
.pagination{
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  margin: 5% 0;
  span{
    padding: 3px 1%;
    margin: 1%;
    cursor: pointer;
    color: $point-color;
  }
}
.page-clicked{
  color: $point-color;
  font-weight: bold;
  font-size: 120%;
  border-bottom: 1px solid $point-color;
}
// 상품 리스트
.product-list-form {
  margin: 0 auto;
  margin-bottom: 3%;
  .product-list {
    box-sizing: content-box;
  }
}
// 상품 하나하나
.product-form {
  position: relative;
  width: 20%;
  margin: 2% 2% 1%;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  transition: all ease-in 1s;
  .image {
    width: 100%;
  }
  // 커버 박스
  .cover {
    background-color: rgba(245, 245, 245, 0);
    color: rgba(6, 6, 6, 0);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 40%;
    transition: all 0.2s;
    font-size: 1.4rem;
  }
}

// 상품 상세
.product-detail {
  width: 80%;
  margin: 12vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 110%;
  button {
    padding: 10px;
    font-size: 100%;
  }
  .product-option-form {
    display: flex;
    flex-direction: column;
    margin: 3% 0;
  }
  .detail-image {
    width: 40%;
    height: 100%;
    margin-right: 3%;
  }
  .detail-info {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 5vh 0;
    box-sizing: border-box;
    label {
      font-size: 1.5rem;
      display: flex;
      justify-content: space-between;
    }
    select,
    input {
      font-size: 1rem;
      border: 1px solid $point-color;
      width: 60%;
      padding: 5px;
    }
    button {
      width: 100%;
    }
    .title {
      font-size: 2.5rem;
    }
    .description {
      font-size: 1.2rem;
      margin-top: 5vh;
    }
  }
}

// 장바구니, 주문내역
.ordered-form,
.cart-form {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5vh;
  .total-price {
    margin: 1%;
  }
  .ordered-form-ul {
    list-style: none;
  }
}
.cart-form-title,
.ordered-form-title {
  margin: 5vh 0;
  font-size: 300%;
}
// 장바구니 상품 하나하나
.cart-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #000;
  font-size: 1.2rem;
  .image {
    width: 20%;
    padding: 5px;
  }
  .quantity {
    font-size: 1.2rem;
    text-align: center;
  }
  input[type="checkbox"] {
    transform: scale(2);
  }
}
// 주문내역 상품 하나하나
.ordered-form-item {
  padding: 5vh 0;
  border-top: 1px solid #000;
  font-weight: bold;
  font-size: 1.2rem;
  .ordered-form-item-ul {
    font-weight: normal;
    list-style: none;
    margin-top: 2%;
  }
}
// 주문내역 상품 상세
.ordered-item-detail {
  margin: 0 auto;
  border-top: 1px solid #666;
  margin-bottom: 1%;
  width: 50%;
  .title {
    display: border;
    font-size: 100%;
  }
  .detail {
    display: flex;
    justify-content: space-around;
    line-height: 80px;
  }
  .image {
    width: 80px;
    height: 100%;
  }
}

// 푸터
.footer {
  height: 10%;
  background-color: #111;
  color: #ccc;
  text-align: center;
  border-top: 5px solid #111;
}

// 로딩 스크린
.loading-screen {
  display: flex;
  justify-content: center;
  flex-flow: nowrap row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}
.loading__element {
  // font: normal 100 2rem/1 Roboto;
  font-family: inherit;
  font-size: 200%;
  letter-spacing: 0.5em;
}
[class*="zz"] {
  animation: bouncing 2s infinite ease;
}

@for $i from 1 through 9 {
  $delay: percentage($i);
  .zz#{$i} {
    animation-delay: $delay / 1000% + s;
  }
}

@keyframes bouncing {
  0%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(0, 0, 1);
  }
}

// 반응형
@media (max-width: 768px) {
  // 헤더
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
    padding: 3%;
    span {
      display: block;
      padding: 3%;
    }
  }
  // 본문
  .root {
    min-height: 60%;
  }
  // 로그인, 마이페이지
  .login-form,
  .my-page-form {
    display: block;
    text-align: center;
    margin: 3%;
    width: 100%;
  }
  .login-form {
    input[type="password"],
    input[type="text"] {
      display: block;
      width: 95%;
      margin: 3%;
    }
  }
  // 회원가입
  .user-register-form {
    margin: 8% auto;
    align-items: center;
    input[type="password"],
    input[type="text"],
    button {
      display: block;
      width: 70%;
      height: 1.5rem;
    }
  }
  // 회원가입 성공
  .register-success-form {
    margin: 8% auto;
    .welcome {
      font-size: 120%;
      font-weight: bold;
    }
  }
  // 카테고리
  .category {
    display: block;
    text-align: center;
    li {
      padding: 3%;
    }
  }
  // 상품 리스트 하나하나
  .product-form {
    width: 40%;
  }
  // 페이지네이션
  .pagination{
    span{
      margin: 5%;
    }
  }
  // 상품 상세
  .product-detail {
    flex-direction: column;
    .detail-info,
    .detail-image {
      width: 100%;
    }
  }
  // 장바구니
  .cart-item {
    display: block;
    width: 90%;
    span,
    input[type="number"] {
      margin: 5%;
    }
    input[type="checkbox"] {
      transform: scale(1);
    }
    .title {
      display: block;
      width: 100%;
    }
    .image {
      height: 50%;
      width: 50%;
    }
  }
  .ordered-form,
  .cart-form,
  .ordered-item-detail,
  .user-register-form {
    width: 90%;
  }
}
