@import url('https://fonts.googleapis.com/css?family=Abel');
$main-color: #f5f5f5;

body, .header, .main, .root, h1, h2, div, img, ul{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  // border: 1px solid red;
  height: 100%;
  font-family: 'Abel', sans-serif;
  background-color: $main-color;
}
.main {
  height: inherit;
}

button{
  background-color: white;
  color: #333;
  border: 1px solid #333;
  padding: 5px 10px;
}

a, a:visited{
  text-decoration: none;
  color: #aac3ea;
}

.header{
  width: 100%;
  height: 10%;
  // border: 1px solid green;
  font: inherit;
  border-bottom: 1px solid #000;
  line-height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
  background-color: #fff;
}
.title-form>h1{
  // border: 1px solid blue;
  height: 100%;
  // line-height: 10vh;
  box-sizing: border-box;
  cursor: pointer;
}

.root{
  width: 100%;
  min-height: 80%;
  padding: 0;
  background-color: $main-color;
  box-sizing: border-box;
}

.shopping-mall-title{
  text-transform: uppercase;
}

.login-form, .my-page-form{
  // border: 1px solid red;
  display: inline-block;
}

.category{
  // border: 1px solid skyblue;
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-transform: uppercase;
  margin: 12vh auto;
  li{
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 130%;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.2s;
  }
}


.category, .product-list-form{
  width: 90%;
}
.product-list-form{
  // border: 2px solid orange;
  margin: 0 auto;
}
.product-list{
  // border: 1px solid pink;
  box-sizing: content-box;
}

.product-form{
  position: relative;
  // border: 1px solid #ccc;
  width: 20%;
  margin: 0 2% 1%;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  .image{
    width: 100%;
  }

  transition: all ease-in 1s;
}

.cover{
  background-color: rgba(245, 245, 245, 0);
  color: rgba(6, 6, 6, 0);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 40%;
  transition: all 0.2s;
  content: "tets";
}



.product-detail{
  width: 80%;
  margin: 12vh auto;
  // border: 1px solid purple;
  display: flex;
  justify-content: space-around;
  .product-option-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: 1px solid red;
    height: 50%;

  }
  .detail-info{
  // border: 1px solid red;
  width: 45%;
  .title{
    font-size: 200%;
  }
  }
  .detail-image{
    width: 45%;
    height: 100%;
    // border: 1px solid orange;
  }
}
.cart-item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #000;
  .image{
    width: 20%;
    padding: 5px;
  }
}

.ordered-form, .cart-form{
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.cart-form-title, .ordered-form-title{
  margin: 5vh 0;
  font-size: 300%;
}
.ordered-form-ul{
  list-style: none;
}
.ordered-form-item{
  padding: 5vh 0;
  border-top: 1px solid #000;
  .ordered-form-item-ul{
    list-style: none;
    margin-top: 2%;
  }
}
// .cart-form-ul{
//   width: 100%;
//   display: flex;
//   justify-content: space-between;

//   border: 1px solid orange;
// }

.ordered-item-detail{
  margin: 0 auto;
  border-top: 1px solid #666;
  // border-bottom: 1px solid #333;
  width: 50%;
  .title{
    display: border;
    font-size: 120%;
  }

  .detail{
    display: flex;
    justify-content: space-around;
    line-height: 80px;
  }
  .image{
    // border: 1px solid green;
    width: 80px;
    height: 100%;
  }
}

.footer{
  height: 10%;
  background-color: #000;
  color: #ccc;
  text-align: center;
}
